*{
    margin: 0;
    padding: 0;
    list-style: none;
    list-style-type:none;
    color: inherit; /* 移除超連結顏色 */
     text-decoration: none;  /* 移除超連結底線 */
     font-family: Noto Serif TC;
 
  }
 body{
     
     background-color: #F2F2EA;
 }
 .navbar{
     top: 0;
     z-index: 1000;
     /* background: #EDD8C3; */
 
     
     background: linear-gradient(180deg, #EDE2D6 0%, rgba(199, 174, 150, 0.29) 99.98%, #EEE6DE 99.99%, rgba(238, 230, 222, 0.48) 100%);
     box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
     backdrop-filter: blur(4px);
 /* 
     box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
     backdrop-filter: blur(4px); */
     width: 100%;
     height: 60px; 
     position: fixed;
     padding:0 16px;
     justify-content: space-around;
 
 }
 .nav{
     display: flex;
     align-items: center;
   
     
 }
  .navbar-nav{
     box-sizing: border-box;
     width: 60%;
     font-size: 20px; 
     justify-content: space-around;
     font-weight: 600;
 
 } 
 .nav>li{
     padding:  0 50px;
 }
 .nav-button>button{
     border: none;
     background-color:rgba(1,1,1, 0)  ;
     margin: 0 50px;
 }

 .to-more{
    display: flex;
   font-size: 16px; 
   text-decoration:underline;
   /* margin-top: 12%; */
   right: 1px;
   bottom:2%;
   position: absolute;
   font-weight: 600;
   justify-content:end;
}



.t-title-style
{
    font-size: 36px;
    font-weight: 600;
    color: #333;
    
}
.t-style-e{
    
    font-family: Montserrat;
    font-size: 20px;
    /* color: #333; */
    color: #911010  ;
  
    font-weight: 400;
}

.line-left{
    border-left:#814524 2px solid;
    font-size: 14px;
    font-family: Montserrat;
    font-weight: 300;
    position: absolute;
    left: 4%;
    top: 6%;

} 



/* ------------------------products---------------------- */

.products-card{
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    inset:0;
    }
.card-text{
    margin-top: 30px;
    width: 75%;
    margin: auto;
    text-align: center;
    }
    
    .card-text>*:not(.shop-button){
        margin-bottom: 20px;
    }
    .card-text h3{
        
      font-weight: 500;
        font-size: 20px;
    }
    .card-item img{
        clip-path: circle(50% at 50% 50%);
        vertical-align: baseline
    }
    .money{
     font-size: 18px;
  
     
    }
    
    .number{
        box-sizing: border-box;
        background: #FFF;
        display: flex;
        border: 1px solid #CE7D2B;
        justify-content: space-around;
        align-items: center;
        
    }
    .number span{
      
        vertical-align:middle;
    }
    
    .shop-button{
        box-sizing: border-box;
       font-size: 20px;
        width: 100%;
        border: 1px solid #CE7D2B;
        background: #DEA56A;
        color: #FFF;
        font-weight: 600;

        
    }
    .button-add{
        font-size: 24px;
        border: none;
        background-color: #FFF;
                /* vertical-align: middle; */
    }
    .products-card>button{
        box-sizing: border-box;
        position: absolute;
        top : 40%;
        width: auto;
        padding: 10px;
        background-color: rgb(255, 255, 255, .5);
        border: 1px solid #CE7D2B;

    }
/* ----------------------page------------------------- */
    .pager{ 
    
        background-color: white;
        border:#CE7D2B 1px solid;
        border-radius: 20px ; 
    
         margin: 50px;
        display: flex;
        justify-content:space-between;
        width: 35%;
        margin: 50px auto;
    
    }
    .pager>*{
        color:#333;
    
        text-align: center;
        width: 30px;
        height: 30px;
        margin:  0 5px ;
        vertical-align: middle;
        font-size: 14px;
        line-height: 25px;
        
     
    }


/* ------------------footer-------------------------- */

.footer-container{
    margin-top: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    flex-wrap: wrap;
    font-size: 16px;
    background-color: #EDD8C3;
}
.footer-focus{
    text-align: center;


}
.footer-focus h5{
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: normal;
    }
.tibame{
font-size: 12px;
background-color: #EDD8C3; 
  text-align: center;

}
.footer-icon {
    margin: 10px 0 10px;
}
.footer-container>*:not( .footer-icon )	
{
    margin: 30px 0 10px;
}
.footer-container>ul>li{
    margin-bottom: 10px;
}