 *{
    margin: 0;
    padding: 0;
    list-style: none;
    list-style-type:none;
    color: inherit; /* 移除超連結顏色 */
     text-decoration: none;  /* 移除超連結底線 */
     font-family: Noto Serif TC;
     letter-spacing: 0.2rem;
  }

  @font-face {
    font-family:"jf-openhuninn";
    /* src: url("xshun227.github.io/CHD10308/jf-openhuninn-2.0.ttf"); */
    src: url('../jf-openhuninn-2.0.ttf');
  }
  @font-face {
    font-family: "Montserrat";
    /* src: url("xshun227.github.io/CHD10308/jf-openhuninn-2.0.ttf"); */
    src: url('../Montserrat-Italic-VariableFont_wght.ttf');
  }
 
  
 body{
     
     background-color: #F2F2EA;
 }
 .navbar{
     top: 0;
     z-index: 1000;
     /* background: #EDD8C3; */
     box-sizing: content-box;
     background: linear-gradient(180deg, #EDE2D6 0%, rgba(199, 174, 150, 0.29) 99.98%, #EEE6DE99.99%, rgba(238, 230, 222, 0.48) 100%);
     box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
     backdrop-filter: blur(4px);
     width: 100%;
     height: 70px; 
     position: fixed;
     padding:0 20px;
     justify-content: space-between;
 }
 .nav{
     display: flex;
     align-items: center;
 }
 .navbar-nav>li>a{
    padding: 10px;
 }
 .navbar-nav>li:hover{
    padding-bottom: 10px;
    border-bottom: #CF3525 2px solid;
 }
 
 .navbar-nav>li>a{
     font-weight: 400;
      
     color: #333;
    font-family: jf-openhuninn;
 }
 .nav-right{
    width: 70%;
     display: flex;
     justify-content: end;
     margin-right: 2%;;
    
 }
 /* #inin>a{
    font-family: jf-openhuninn;

 } */
 .iocn-name img{
     transform: scale(0.9);
 }
  .navbar-nav{
     box-sizing: border-box;
     font-size: 20px; 
     justify-content: end;
     font-weight: 600;   
 } 
 
 
 .nav>li{
     padding:  0 30px;
 }
 .nav-button>button{
     border: none;
     background-color:rgba(1,1,1, 0)  ;
     margin: 0 30px;
 }

 .nav-button{
    justify-content:start ;
}
 .to-more{
    display: flex;
   font-size: 16px; 
   
   /* margin-top: 12%; */
   right: 2%;
   bottom:2%;
   position: absolute;
   font-weight: 600;
   justify-content:end;
}
.to-more>p:hover{
    box-sizing: border-box;
 border-bottom: 2px #CF3525 solid ;
}
.to-more>p{
    margin-right: 10px;
    padding-bottom:3% ;

}
    .arrow-a{
    width: 20%;
    height: 20%;
    color: #FFF;
    border-style: solid;
    border-width: 1px 1px 0 0;
    position:absolute;
    top:5px; 
    right:5px;
    }
    .red-more{
        margin-top: 5px;
        width: 20px;
        height: 20px;
        background-color:#cf3525 ;
        position: relative;
        transform: rotate(45deg);
    }
  
    .arrow-line{
        position:absolute;
        color: #FFF;
        width: 70%;
        border-width:0  0 1px 0;
        top:10px;
        right: 3.5px;
        border-style: solid;
        transform: rotate(-45deg);
    }


.t-title-style
{  
    font-size: 36px;
    font-weight: 600;
    color: #333;
}
.t-style-e{
    font-family: Montserrat;
    font-size: 20px;
    /* color: #333; */
    color: #911010  ;
    font-weight: 400;
}

.line-left{
    border-left:#814524 2px solid;
    font-size: 14px;
    font-family: Montserrat;
    font-weight: 300;
    position: absolute;
    left: 4%;
    top: 6%;
} 



/* ------------------------products---------------------- */

.products-card{
    
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    inset:0;
    }
    .card-name {
        /* margin: auto; */
        margin: 20px 0;
        text-align: center;
        font-weight: 500;
        font-size: 20px;
    }
.card-text{
    margin-top: 30px;
    width: 75%;
    margin: auto;
    text-align: center;
    }
    
    .card-text>*:not(.shop-button){
        margin-bottom: 20px;

    }
    .card-text h3{
        
      font-weight: 500;
        font-size: 20px;
    }
    
    .circle-img>img{  
     
        /* clip-path: circle(162px at 50% 50%); */
        transform: scale(1); 

        /* vertical-align: top;  */
         
    }
    .circle-img{
        /* border: 2px solid black; */

       width: 291.6px;
        height: 291.6px;
        border-radius:50%;
        overflow:hidden;
    }

     .circle-img>img:hover{
            transform: scale(1.1);
            transition: all 0.6s ease-out;
    } 
       

    .money{
     font-size: 18px;
    }
    
    .number{
        box-sizing: border-box;
        background: #FFF;
        display: flex;
        /* border: 1px solid #CE7D2B; */
        justify-content: space-around;
        align-items: center;
        
    }
    .number span{
      
        vertical-align:middle;
    }
    
    .shop-button{
        box-sizing: border-box;
       font-size: 20px;
        width: 100%;
        border: 1px solid #DEA56A;
        background: #DEA56A;
        color: #FFF;
        font-weight: 600;
        cursor: pointer;


        
    }
    .shop-button:hover{
        color:#814524;

    }
    .button-add{
        font-size: 24px;
        border: none;
        background-color: #FFF;
        cursor: pointer;
                /* vertical-align: middle; */
    }
    .products-block>button{
        box-sizing: border-box;
        position: absolute;
        top : 360px;
        width: auto;
        padding: 15px;
        font-size: 20px;
        background-color: rgb(255, 255, 255, .5);
        border: 0;

    }
/* ----------------------page------------------------- */
    .pager{ 
        background-color: white;
        border:#CE7D2B 1px solid;
        border-radius: 20px; 
         margin: 50px;
        display: flex;
        justify-content:space-between;
        width: 40%;
        margin: 50px auto;
    
    }
    .pager>*{
        color:#333;
    
        text-align: center;
        width: 30px;
        height: 30px;
        margin:  0 5px ;
        vertical-align: middle;
        font-size: 14px;
        line-height: 25px;
        
     
    }
    /* --------------textarea --------------------*/
    .feedback{
        margin-left: auto;
        text-align: end;
    }

/*============================ input============= */
.border-input {
    
    transition: border 0.2s;  
}

.border-input:focus {
    border: 1px solid #DEA56A;  
    outline: none;  
}
/* ------------------footer-------------------------- */

.footer-container{
    margin-top: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    flex-wrap: wrap;
    font-size: 16px;
    background-color: #EDD8C3;
}
.footer-focus{
    text-align: center;


}
.footer-focus h5{
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: normal;
    }
.tibame{
font-size: 14px;
background-color: #EDD8C3; 
  text-align: center;


}
.footer-icon {
    margin: 10px 0 10px;
}
.footer-container>*:not( .footer-icon )	
{
    margin: 30px 0 10px;
}
.footer-container>ul>li{
    margin-bottom: 10px;
}

/* ============================= */
@media screen and (max-width: 414px) {
   

}