.news-all{
 display: block;
 margin: 0 auto;
 width: 1200px;
}

.crumbs>ol{
    margin: 30px 0;
    display: flex;
    justify-content: end;
    color: #555555 ;
   
}
.crumbs>ol>:last-child::before
{
    content: ">>";
}
.news-list{
    width: 100%;
   
}
.news-title{
    margin: 80px 0 40px;
    text-align: center;
    
}
.news-card{
  
    height:360px ;
    border-top:1px solid #D88E86;
    display:flex;
    justify-content:center;
    align-items: center;
}
.news-big{
    margin-left: 85px;
    
    box-sizing: border-box;
    
}
.big-style>h4,.news-box-style>h4{
    margin: 20px 0 10px;
    font-size: 20px;
}
.news-big>img{
    width: 1020px;
    vertical-align: top;
}
.big-line{
    left: 0;
}
.big-style{
    /* display: inline-block; */
    width: 30%;
    margin: 30px;
    margin-left: 0px;
    line-height: 1.5;
    border: none;
    background-color: #F2F2EA;
    position: relative;
    box-sizing: border-box;
    padding: 20px 20px 0px 5px;
    color:#333;
}

.news-card>img{
    
    height: 280px;
    width: 40%;
    vertical-align: top;
    margin: 0 30px;
}
.news-box-style{
    
    margin: 0 30px;

    width: 40%;
    height: 280px;
}
.news-box-style {

    position: relative;
    box-sizing: border-box;
    border:#CE7D2B 1px solid;
    padding: 20px 20px 0px 20px;
    background-color: #EAE0C1;
    color:#333;
}
.news-list .news-card:nth-child(2n){
    flex-direction: row-reverse;

}
.news-card:last-child{
    border-bottom:1px solid #D88E86;
}

