.products-all{

    margin: 100px auto;
    
    width: 1200px;
   }
   .products-container{

      display: flex;
      flex-wrap: wrap;
   }
.products-block{
box-sizing: border-box;    
width: 80%;
    /* transform: scale(0.8); */
    /* margin: 20px ; */
}
.card-item>a>div{
    transform: scale(0.8);

}
.products-list{
    position: sticky;
    top: 60px;
    box-sizing: border-box; 
    display: inline-block;
    width: 20%;
    
}
.products-title{
    width: 100%;
    padding-bottom: 30px;
border-bottom: 2px solid #814524;
text-align:center;
margin: 20px;
}
.products-list>ul>li{
    width: 80%;
    color: #333;
    padding-top: 20px;
    font-size: 20px;
    text-align: center;
}
.products-list>ul>li:first-child{
    padding-top: 0;
}
.products-list>ul>li>a:hover{
border-bottom: 3px solid #CF3525 ;
}

.products-line{
    padding-left: 20px;
    border-left: 5px #CF3525 solid;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.crumbs>ol{
    font-size: 16px;
    display: flex;
    justify-content: end;
    color: #555555 ;
   
}
.crumbs>ol>:last-child::before
{
    content: ">>";
}
.products-card{
    width: 100%;
    justify-content: space-between;
}