body>div{
    width: 1200px;
    margin: auto;
}

.shop-title{
   display: block;
    padding: 120px 0 20px 0;
    text-align: center;
}
.crumbs>ol{
    margin: 10px 0;
    display: flex;
    margin-right: 100px;
    margin-bottom: 60px;
    justify-content: end;
    color: #555555 ;
   
}
.crumbs>ol>:last-child::before
{
    content: ">>";
}
.grid-title{
    color: #333;
    display: grid;
    width: 83.333%;
    height: 30px;
    grid-template-columns: 40% 15% 15% 10% 10% 10%;
    margin: 10px auto;
    line-height: 1.6;


}
.grid-title div{
    border: 1px solid #333;
    text-align: center; 
    margin: 0;
}
.grid-item{
   
    color: #333;
    display: grid;
    width: 83.333%;
    grid-template-columns: 40% 15% 15% 10% 10% 10%;
        margin: 0 auto;
   
}
.grid-item>div{
    border: 1px solid #333;
}
.grid-item>div:not( :first-child )	{
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.list-img{
    display: flex;
}
.list-img>img{
    width: 100px;
   height: 100px;
    
    clip-path: circle(50% at 50% 50%);
    margin: 2% ;
}
.list-img>p{
    line-height: 8;
}
.grid-item>div:last-child{
    line-height: 100%;
}

.number-list{
    border: 1px solid #333;
    background-color: #FFF;
    text-align: center;
    width: 50%;
}

.number-list>*{
vertical-align:middle;
}
.xxx{
    position: relative;
width: 1.5rem;
height: 1.5rem;
}
.xxx>div{
    position: absolute;
    inset: 0;
    margin: auto;
    background-color: #333;
    width: 80%;
    height: 2px;
    /* border :0; */
    transform: rotate(45deg);
    box-shadow:0px 0px 0px #333 ;
}
.xxx>div::after{
    content: "";
    position: absolute;
    inset: 0;
    margin: auto;
    width: 100%;
    height: 2px;
    background-color: #333;
    transform: rotate(90deg);
}
.all-shop{
    display: flex;
    width: 83.333%;
    justify-content: end;
    margin: 20px auto;
    align-items: end; 
    vertical-align:bottom;
}
.all-shop>p{
    margin-left: 2%;
}
.red{
   color: #911010;
   margin-right: 0.5rem;
}
.all-price{
    font-size: 24px;
}
.line-shop{
    padding-left: 20px;
    border-left: 5px #CF3525 solid;
}
.pay-deliver{
    width: 83.333%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    color: #333;
}
.pay-deliver>div{
    width: 50%;
    /* display: inline-block; */
}
.pay-deliver select{
    width: 85%;
    box-sizing: border-box;

    font-size: 20px;    
    color: #333;

}
h2{
    font-size: 20px;
    color: #333;
    margin: 60px 0 30px 100px;
}
h2:before{
    content: "";
    width: 2px;
    background-color: #911010;
}
h3{
    font-size: 20px;
    color: #333;
    margin: 60px 0 30px 100px;
}
.information-table{
    box-sizing: border-box;

    /* font-size: 20px; */
    width: 83.333%;
    margin: 0 auto;
}
.information-table>input{
padding: 5px 5px 5px 10px;
}
.information-table>*:not(button,textarea){
    box-sizing: border-box;
    color: #333;
    font-size: 16px;
   
    width: 42.5%;
    margin-bottom: 10px;
}
.information-table>textarea{
    box-sizing: border-box;
    color: #333;

    font-size: 20px;
    padding: 5px 5px 5px 10px;
    width: 100%;
    margin-bottom: 10px;
}  
.information-table label, input {
   
    display: block;
}
.information-table >button{
    border-radius: 20px;
    width: 125px;
    height: 50px;
    margin: 30PX auto;
    background: #DEA56A;
    color: #FFF;
    font-weight: 600;
    cursor: pointer;
    border: 0;
    display: block;
}